.<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>BUY!</h1>
    <form action="/Buy" class="form-signin" method = "post">
      <select id="cars" name="stocks">
      <option value="0">Reliance</option>
      <option value="1">Apple</option>
      <option value="2">Mango</option>
      <input type="text" id="Number of Stocks" name="no_of_stocks">
    </form>
  </body>
</html>
